body {
margin: 30px;
} 


div {
    flex-wrap: wrap;
    border: solid;
    border-color: black;
    background-color: rgb(98, 167, 149);
    margin-left: 20%;

}


.list-group, .list-group-item {

    
    border-style: double;
    border-color: black;
    background-color: rgb(72, 182, 154);
    margin: 10px;

}

.list-group-item {
    width: 100%;
}
 .list-group :hover {
    background-color: cadetblue;
}

