
.list-group, .list-group-item {
    width:70%;
    border-style: double;
    border-color: black;
    background-color: rgb(72, 182, 154);
}

.list-group-item {
    width: 100%;
}
 .list-group :hover {
    background-color: cadetblue;
}

body {
    margin: 30px;
}

div {

    border: solid;
    border-color: black;
    width: 70%;
    background-color: rgb(98, 167, 149);;

}
